POSTGRES_DB=blog
POSTGRES_USER=blog
POSTGRES_PASSWORD=replace_with_a_long_random_hex_password
DATABASE_URL=postgres://blog:replace_with_a_long_random_hex_password@db:5432/blog?sslmode=disable
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123456
COOKIE_SECURE=true
